html
{
    overflow-y: scroll;
}

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

#wrapper
{
    width: 960px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* hero unit
*************************************/

.hero-unit
{
    background-color: #E8F6FF;
    border: 1px solid #363636;
    padding: 15px;
    width: 700px;
}

input[type=text]
{
    width: 300px;
}

input[type=text].Date
{
    width: 75px;
}

input[type=text].DateTime
{
    width: 150px;
}

.clear 
{
	clear: both;
}

/* tables
*************************************/

table 
{
    text-align: left;
    width: 100%;
}

td, th 
{
    border: 1px solid #363636;
    padding: 5px;
}

tr td:first-child {
	width: 80px;
	font-weight: bold;
}